{% extends 'base.html' %}
{% load thumbnail %}

{% block title %}{{ post.title }} | ioio.nu index{% endblock title %}

{% block content %}
<h1 class="title">{{ post.title }}</h1>
<div>
    {{ post.body|safe }}
</div>
<div>
<ul class="images">
{% for image in post.image.all %}
    <li class='box'>
        {% thumbnail image.image "1024" crop="center" as im %}
            <a href="{{ image.image.url }}" target="_blank">
                <img src="{{ im.url }}" width="100%">
            </a>
        {% endthumbnail %}
        {% if image.image.title %}
            <h4 class="subheading">{{image.image.title}}</h4>
        {% endif %}
    </li>
{% endfor %}
</ul>
{% endblock  %}