{% extends 'base.html' %}
{% load thumbnail %}

{% block title %}{{ post.title }} | ioio.nu index{% endblock title %}

{% block content %}
<h1>{{ post.title }}</h1>
<div>
    {{ post.body|safe }}
</div>
<div>
<ul>
{% for image in post.image.all %}
    <li>
        <h4>{{image.image}}</h4>
        {% thumbnail image.image "256" crop="center" as im %}
            <a href="{{ image.image.url }}" >
                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
            </a>
        {% endthumbnail %}
    </li>
{% endfor %}
</ul>
{% endblock  %}