@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.


// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables
// Update the blue shade, used for links
$blue: #06bcee;
// Add pink and its invert
$pink: #ff8080;
$pink-invert: #fff;
// Update the sans-serif font family
$family-sans-serif: "Helvetica", "Arial", sans-serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $pink;
$primary-invert: $pink-invert;

// 4. Import the rest of Bulma
$section-padding: 1rem 1rem;

@import "../node_modules/bulma/bulma";

body {
    margin: 1em;

    .body-inner {
        margin: 1em;
    }
}

nav {
    background: rgb(131,58,180);
    background: linear-gradient(208deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    border-radius: 2em;
    margin-bottom: 1em;

    a:link,
    a:visited {
        color: white;
        font-weight: bold;
    }
}